[Desktop Entry]
Name=Scrupulous
Comment=Screenwriter
Exec=trelby %f
Icon=/usr/share/trelby/resources/icon256.png
Type=Application
Categories=Office;Publishing;

